@charset "UTF-8";
/**/


/* 标签 label_MainWindow_main_text */
/* 样式 1 */
QLabel#label--1_1 {
    color: rgb(213, 46, 4);
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: bold;
}
/* 样式 2 */
QLabel#label--1_2{
    color: rgb(255, 0, 0);
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
}


/*标签 label_current_play_text */
QLabel#label--2_1{
    color: rgb(203, 173, 0);
    background-color: transparent;
    font-family: SimSun, Times, serif;
    font-size: 40px;
    font-weight: bold;
}

QLabel#label--2_2 {
    color: rgb(150, 150, 150);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}


/*标签 label_current_play_content */
QLabel#label--3_1 {
    color: rgb(47, 47, 47);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

QLabel#label--3_2 {
    color: rgb(150, 150, 150);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 32px;
}


/*标签 label_warning */
QLabel#label--4_1 {
    color: transparent;
    background-color: transparent;
    font-family: SimSun, Arial, sans-serif;
    font-size: 22px;
}

QLabel#label--4_2 {
    color: rgb(84, 29, 194);
    background-color: transparent;
    font-family: SimSun, Arial, sans-serif;
    font-size: 22px;
}

/*标签 label_SearchUI_main_text */
QLabel#label--5_1 {
    color: rgba(255, 211, 172, 0.8);
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
}

QLabel#label--5_2 {
    color: rgb(255, 0, 0);
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
}


/*标签 label_folder_path_text */
QLabel#label--6_1 {
    color: rgb(128, 0, 32);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

QLabel#label--6_2 {
    color: rgb(100, 100, 100);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}


/*标签 label_current_folder */
QLabel#label--7_1 {
    color: rgb(128, 0, 32);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

QLabel#label--7_2 {
    color: rgb(100, 100, 100);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
}


/*标签 label_input_reminder_text */
QLabel#label--8_1 {
    color: rgb(128, 0, 32);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

QLabel#label--8_2 {
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
}


/*标签 label_use_attention_text */
QLabel#label--9_1 {
    color: rgba(238, 207, 207, 0.9);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

QLabel#label--9_2 {
    color: rgba(13, 9, 235, 0.9);
    background-color: transparent;
    font-family: KaiTi, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}


/*按钮样式 默认值 */
QPushButton#QPushButton {
    color: #fff;
    background-color: #3498db;
    border: 5px solid #2980b9; 
    border-radius: 20px; 
    padding: 10px 20px; 
}
QPushButton#QPushButton:hover {
    background-color: #2980bb; 
}


/*按钮 button_previous */
QPushButton#button--1_1 {
    background-color: #D9B76B;
        color: rgb(197, 115, 33);
        border: 6px solid #b39759;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 26px;
        font-weight: bold;
}
QPushButton#button--1_1:hover {
    background-color: rgba(255, 215, 0, 0.8); 
}


/*按钮 button_next */
QPushButton#button--2_1 {
    background-color: #D9B76B;
        color: rgb(197, 115, 33);
        border: 6px solid #b39759;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 26px;
        font-weight: bold;
}
QPushButton#button--2_1:hover {
    background-color: rgba(255, 215, 0, 0.8); 
}


/*按钮 button_pause_or_begin */
QPushButton#button--3_1 {
    background-color: #D9B76B;
        color: rgb(197, 115, 33);
        border: 6px solid #b39759;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 26px;
        font-weight: bold;
}
QPushButton#button--3_1:hover {
    background-color: rgba(255, 215, 0, 0.8); 
}


/*按钮 button_shuffle_play */
QPushButton#button--4_1 {
    background-color: #D9B76B;
        color: rgb(197, 115, 33);
        border: 6px solid #b39759;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 26px;
        font-weight: bold;
}
QPushButton#button--4_1:hover {
    background-color: rgba(255, 215, 0, 0.8);  
}


/*按钮 button_single_loop*/
QPushButton#button--5_1 {
    background-color: #D9B76B;
        color: rgb(197, 115, 33);
        border: 6px solid #b39759;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 26px;
        font-weight: bold;
}
QPushButton#button--5_1:hover {
    background-color: rgba(255, 215, 0, 0.8); 
}


/*按钮 button_searching */
QPushButton#button--6_1 {
    color: black;
    background-color: rgba(255, 211, 172, 0.387);
    border: 2px solid rgba(255, 211, 172, 0.8);
    border-radius: 15px;
    padding: 2px 2px;
    font-size: 40px;
}
QPushButton#button--6_1:hover {
    background-color: rgba(255, 211, 172, 0.856); 
}


/*按钮 button_play_selected_song */
QPushButton#button--7_1 {
    color: black;
    background-color: rgba(255, 211, 172, 0.387);
    border: 2px solid rgba(255, 211, 172, 0.8);
    border-radius: 15px;
    padding: 2px 2px;
    font-size: 40px;
}
QPushButton#button--7_1:hover {
    background-color: rgba(255, 211, 172, 0.856);
}


/*按钮 button_quit */
QPushButton#button--8_1 {
    color: black;
    background-color: transparent;
    border-radius: 5px;
    font-size: 15px;
}
QPushButton#button--8_1:hover {
    background-color: rgba(255, 215, 0, 0.8);
}


/*输入框 lineEdit_input_song_title */
QLineEdit#QLineEdit--1 {
    background-color: transparent; /* 设置背景颜色 */
    color: rgb(230, 230, 230); /* 设置文本颜色 */
    border: 1px solid rgba(255, 211, 172, 0.8); /* 设置边框 */
    border-radius: 5px; /* 设置边框圆角 */
    padding: 2px; /* 设置内边距 */
    font-weight: bold; /* 设置字体加粗 */
    font-size: 30px; /* 设置字体大小 */
    font-family: SimSun; /* 设置字体组 */
}
QLineEdit#QLineEdit--1:disabled {
    background-color: rgb(0, 240, 80);
    color: rgb(202, 0, 0);
    border: 10px solid gray;
    border-radius: 5px;
    padding: 2px;
}


/*树形图 treeview_search_result */
QTreeView#treeview--1 { /*设置表主体*/
    background-color: rgba(255, 211, 172, 0.3);
    color: rgb(99, 38, 49); /* rgb(102, 49, 49) */
    border: 1px solid rgba(255, 211, 172, 0.8);
    border-radius: 12px;
    font-size: 26px;
}
QTreeView#treeview--1 QHeaderView::section { /*设置表头*/
    background-color: rgba(255, 211, 172, 0.5);
    color: rgb(128, 0, 32);
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #606263;
}
QTreeView#treeview--1 QScrollBar:vertical { /* 垂直滚动条样式 */
    background: transparent;
}
QTreeView#treeview--1 QScrollBar::handle:vertical { /* 设置垂直滚动条手柄(滑块)样式 */
    background: transparent;
    border: 2px solid rgba(255, 211, 172, 0.8);
    border-radius: 12px;
}
QTreeView#treeview--1 QScrollBar::add-line:vertical, /* 设置垂直滚动条的增加箭头按钮样式 */
QTreeView#treeview--1 QScrollBar::sub-line:vertical { /* 设置垂直滚动条的减少箭头按钮样式 */
    border: transparent;
    background: transparent;
}
QTreeView#treeview--1 QScrollBar::add-page:vertical, /* 设置垂直滚动条的增加页按钮样式 */
QTreeView#treeview--1 QScrollBar::sub-page:vertical { /* 设置垂直滚动条的减少页按钮样式 */
    background: transparent;
}
QTreeView#treeview--1 QScrollBar:horizontal { /* 水平滚动条样式 */
    background: transparent;
}
QTreeView#treeview--1 QScrollBar::handle:horizontal { /* 设置水平滚动条手柄(滑块)样式 */
    background: transparent;
    border: 2px solid rgba(255, 211, 172, 0.8);
    border-radius: 12px;
}
QTreeView#treeview--1 QScrollBar::add-line:horizontal, /* 设置水平滚动条的增加箭头按钮样式 */
QTreeView#treeview--1 QScrollBar::sub-line:horizontal { /* 设置水平滚动条的减少箭头按钮样式 */
    border: transparent;
    background: transparent;
}
QTreeView#treeview--1 QScrollBar::add-page:horizontal, /* 设置水平滚动条的增加页按钮样式 */
QTreeView#treeview--1 QScrollBar::sub-page:horizontal { /* 设置水平滚动条的减少页按钮样式 */
    background: transparent;
}


/* 菜单栏样式 1 */
QMenuBar#menubar--1 {
    background-color: transparent; /* 菜单栏背景颜色 */
    color: rgb(0, 0, 0); /* 菜单栏文字颜色 */
}
QMenuBar#menubar--1:hover{
    background-color: transparent;
}
/* 菜单样式 1 */
QMenu#menu--1 {
    background-color: gold; /* 菜单背景颜色 */
    color: rgb(0, 0, 0); /* 菜单文字颜色 */
}
QMenu#menu--1::item:selected {
    background-color: rgb(211, 211, 211); /* 选中菜单项的背景颜色 */
}
/* 菜单项(动作)样式 1 */
QAction#menu--1 {
    background-color: green; /* 动作项背景颜色透明 */
}
QAction#menu--1:hover {
    background-color: #76d96b; /* 鼠标悬停时的背景颜色 */
}